<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Properties>
		<Property name="dateTimePattern">$${date:dd-MM-YYYY HH-mm-ss}</Property>
		<Property name="logPattern">[%d{dd-MM-YYYY - HH:mm:ss}][%t][%level][%logger{36}] - %msg%n</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${logPattern}" />
		</Console>

		<File name="AllLogs" fileName="logs/allLogs.log" append="true">
			<PatternLayout pattern="${logPattern}" />
		</File>

		<File name="LatestLogs" fileName="logs\latestLogs.${dateTimePattern}.log" append="true">
			<PatternLayout pattern="${logPattern}" />
		</File>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="AllLogs" />
			<AppenderRef ref="LatestLogs" />
		</Root>
	</Loggers>

</Configuration>
